/* for our team page */
.team {
  font-weight: bold;
  text-align: center;
  padding-bottom: 10px;
  color: #f59498;
}
.container-team {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.container-team .card {
  width: 330px;
  height: 416px;
  padding: 60px 30px;
  margin: 20px;
  background: white;
  box-shadow: 0.6em 0.6em 1.2em #dfbb9d;
  border-radius: 20px;
}
.container-team .card .content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container-team .card .content .image {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  position: relative;
  margin-bottom: 20px;
  overflow: hidden;
}
.container-team .card .content .image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.container-team .card .content .contentbox h4 {
  color: #361500;
  font-size: 20px;
  text-align: center;
  letter-spacing: 1px;
}
.container-team .card .content .contentbox h5 {
  color: #361500;
  font-size: 18px;
  text-align: center;
  letter-spacing: 1px;
}
.container-team .card .content .sci {
  margin-top: 20px;
}
.container-team .card .content .sci a {
  color: #361500;
  font-size: 25px;
  margin: 5px;
  transition: color 0.4s;
}
.container-team .card .content .sci a:hover {
  color: #f59498;
}

/* for about page */
.about h2 {
  text-align: center;
  font-weight: bold;
  padding-bottom: 35px;
  color: #f59498;
}
.about h5 {
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: 10%;
  margin-right: 10%;
  font-weight: normal;
  color: #2e2625;
}
.nav-component {
  z-index: 9999;
}
